In [ ]:
import numpy as np
import pandas as pd

In [ ]:
arra_list=[1,2,3,4,5]
arra_list

[1, 2, 3, 4, 5]

In [ ]:
array=np.array(arra_list)

In [ ]:
print(array)

[1 2 3 4 5]

In [ ]:
print(np.max(array))

5

In [ ]:
print(np.min(array))

1

In [ ]:
dis={'Name':['pushpa','mehak','tanzima','nishu','prisha'],'Age':[23,21,21,13,16],'city':['botad','panjab','ahemdabad','gujrat','tamil']}
df=pd.DataFrame(dis)
print(df)

      Name  Age       city
0   pushpa   23      botad
1    mehak   21     panjab
2  tanzima   21  ahemdabad
3    nishu   13     gujrat
4   prisha   16      tamil

In [ ]:
df=df.drop('city', axis=1)
df

      Name  Age
0   pushpa   23
1    mehak   21
2  tanzima   21
3    nishu   13
4   prisha   16

In [ ]:
data=pd.read_csv('/content/fracture.csv')
data

,id,age,sex,fracture,weight_kg,height_cm,medication,waiting_time,bmd
0,469,57.052768,F,no fracture,64.0,155.5,Anticonvulsant,18,0.8793
1,8724,75.741225,F,no fracture,78.0,162.0,No medication,56,0.7946
2,6736,70.778900,M,no fracture,73.0,170.5,No medication,10,0.9067
3,24180,78.247175,F,no fracture,60.0,148.0,No medication,14,0.7112
4,17072,54.191877,M,no fracture,55.0,161.0,No medication,20,0.7909
...,...,...,...,...,...,...,...,...,...
164,21892,77.982543,M,fracture,74.0,164.0,No medication,49,0.7941
165,24140,50.285303,F,fracture,59.0,161.0,No medication,6,0.7971
166,6969,46.359721,M,fracture,67.0,169.0,No medication,10,0.8037
167,5505,54.788368,M,fracture,70.0,166.0,No medication,14,0.8072
168,71,69.994822,F,fracture,68.5,165.0,No medication,25,0.8664

In [ ]:
data.head(15)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            169 non-null    int64
 1   age           169 non-null    float64
 2   sex           169 non-null    object
 3   fracture      169 non-null    object
 4   weight_kg     169 non-null    float64
 5   height_cm     169 non-null    float64
 6   medication    169 non-null    object
 7   waiting_time  169 non-null    int64
 8   bmd           169 non-null    float64
dtypes: float64(4), int64(2), object(3)
memory usage: 12.0+ KB

In [ ]:
x=data.iloc[:,0:4].values
y=data.iloc[:,4].values

In [ ]:
from sklearn.preprocessing import LabelEncoder
labelEncoder_y=LabelEncoder()

y=labelEncoder_y.fit_transform(y)
y

array([23, 40, 35, 19, 14, 25, 39, 18, 23, 34, 21, 29, 38, 48, 32, 38, 27,
       26, 34, 10, 18, 35, 36, 14, 37, 28, 29, 31, 14, 31, 31, 18, 51,  6,
       26, 42, 32, 40, 42, 40, 12, 33, 19, 41, 15, 36, 10, 15, 45, 47, 37,
        2, 29, 17, 41, 46, 27, 29, 34, 13, 22, 19, 21, 18, 15,  7, 29, 31,
       13, 32, 37, 21, 37, 44, 35, 18, 33, 14, 31, 11, 21, 49, 38, 32, 15,
       43, 38, 27, 22, 41, 39, 14, 40, 29, 40, 33, 43, 50, 36, 16, 20, 33,
       19, 39, 26,  8, 10, 32, 27, 21,  9, 18, 35, 11, 36, 24, 23, 19, 21,
       12, 13, 31, 15, 13, 16, 20, 10,  3, 41,  1,  8,  0,  8, 12, 41, 10,
       17, 12, 46, 22, 18,  8, 11, 26, 16, 21, 35, 15,  4, 26,  8, 13, 21,
       14, 20, 14, 23, 29, 14,  5, 12, 23, 19, 42, 36, 18, 27, 32, 30])

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [ ]:
x_train

array([[21892, 77.98254308, 'M', 'fracture'],
       [2179, 53.3954402, 'M', 'no fracture'],
       [2797, 84.72176364, 'M', 'fracture'],
       [23919, 53.7692897, 'F', 'fracture'],
       [2143, 44.23967859, 'M', 'no fracture'],
       [8999, 60.23658177, 'F', 'no fracture'],
       [17182, 79.39970672, 'M', 'no fracture'],
       [224, 76.94473691, 'F', 'fracture'],
       [5509, 76.8639147, 'M', 'no fracture'],
       [9051, 63.28728844, 'F', 'no fracture'],
       [398, 51.43071736, 'F', 'no fracture'],
       [334, 70.40792405, 'F', 'no fracture'],
       [2018, 86.85986938, 'M', 'fracture'],
       [17090, 52.79292063, 'M', 'no fracture'],
       [8850, 50.36051644, 'F', 'no fracture'],
       [5350, 53.53171717, 'M', 'fracture'],
       [8592, 68.06825266, 'F', 'no fracture'],
       [24204, 68.55087894, 'F', 'no fracture'],
       [23625, 59.70722073, 'M', 'no fracture'],
       [688, 77.15502036, 'M', 'no fracture'],
       [67, 76.74551614, 'F', 'fracture'],
       [8751, 63.76954463, 'F', 'no fracture'],
       [326, 81.47969034, 'F', 'no fracture'],
       [23902, 48.52365084, 'F', 'fracture'],
       [77, 77.9064001, 'F', 'no fracture'],
       [6726, 62.71790768, 'M', 'no fracture'],
       [434, 69.21393466, 'F', 'fracture'],
       [35, 56.20812741, 'F', 'no fracture'],
       [2111, 54.23390445, 'M', 'no fracture'],
       [5288, 40.23236742, 'M', 'no fracture'],
       [2029, 87.93494224, 'M', 'fracture'],
       [8971, 62.06523735, 'F', 'no fracture'],
       [191, 56.54581828, 'M', 'no fracture'],
       [2458, 82.40717913, 'M', 'fracture'],
       [9016, 55.41170957, 'F', 'no fracture'],
       [2006, 85.90159463, 'M', 'fracture'],
       [7776, 54.91253353, 'M', 'no fracture'],
       [24182, 68.68328771, 'F', 'fracture'],
       [17052, 59.26117883, 'M', 'no fracture'],
       [8704, 49.78743656, 'F', 'no fracture'],
       [2024, 43.45071208, 'M', 'no fracture'],
       [23861, 63.67318436, 'F', 'no fracture'],
       [2020, 59.07608201, 'M', 'fracture'],
       [8960, 60.18946129, 'F', 'no fracture'],
       [3800, 66.82546218, 'M', 'no fracture'],
       [87, 83.21982284, 'F', 'fracture'],
       [23912, 67.65108105, 'F', 'no fracture'],
       [24027, 68.01774844, 'F', 'fracture'],
       [276, 83.84773532, 'M', 'no fracture'],
       [8674, 61.17008505, 'F', 'no fracture'],
       [2789, 69.65373122, 'M', 'no fracture'],
       [8574, 54.49762635, 'F', 'no fracture'],
       [17116, 48.28948823, 'M', 'no fracture'],
       [812, 67.92438462, 'M', 'no fracture'],
       [6696, 39.25494707, 'M', 'no fracture'],
       [322, 57.58119772, 'F', 'fracture'],
       [6736, 70.7789, 'M', 'no fracture'],
       [3079, 66.80418542, 'M', 'fracture'],
       [8642, 58.26221496, 'F', 'no fracture'],
       [8906, 56.95872053, 'F', 'no fracture'],
       [8622, 57.80229798, 'F', 'no fracture'],
       [17072, 54.1918766, 'M', 'no fracture'],
       [17100, 52.32252245, 'M', 'no fracture'],
       [8876, 64.0659499, 'F', 'no fracture'],
       [24051, 59.46131701, 'F', 'no fracture'],
       [8724, 75.7412248, 'F', 'no fracture'],
       [8829, 46.56490164, 'F', 'no fracture'],
       [23855, 66.55921764, 'F', 'no fracture'],
       [23867, 70.0285031, 'F', 'no fracture'],
       [338, 70.42187319, 'F', 'no fracture'],
       [23586, 54.99218408, 'M', 'no fracture'],
       [145, 71.17212415, 'F', 'fracture'],
       [6684, 49.20966328, 'M', 'no fracture'],
       [2155, 67.57338008, 'M', 'no fracture'],
       [55, 73.23042708, 'F', 'no fracture'],
       [362, 61.18467166, 'F', 'no fracture'],
       [24192, 70.81094137, 'F', 'fracture'],
       [6702, 60.88359606, 'M', 'no fracture'],
       [6602, 52.24655176, 'M', 'no fracture'],
       [5505, 54.78836776, 'M', 'fracture'],
       [2088, 66.25664804, 'M', 'no fracture'],
       [7528, 57.93459324, 'M', 'no fracture'],
       [2306, 57.56917982, 'M', 'no fracture'],
       [3088, 36.64831103, 'M', 'no fracture'],
       [6969, 46.35972067, 'M', 'fracture'],
       [181, 42.81703317, 'F', 'no fracture'],
       [17082, 81.97955903, 'M', 'fracture'],
       [382, 81.08738516, 'F', 'fracture'],
       [292, 85.57631118, 'F', 'fracture'],
       [4335, 54.15273476, 'M', 'fracture'],
       [354, 51.04837034, 'F', 'fracture'],
       [278, 73.06759806, 'M', 'fracture'],
       [8950, 61.60041411, 'F', 'no fracture'],
       [109, 69.04817915, 'F', 'no fracture'],
       [197, 69.72844532, 'M', 'no fracture'],
       [6732, 70.19857261, 'M', 'no fracture'],
       [159, 65.79535204, 'F', 'no fracture'],
       [5292, 75.01547985, 'M', 'no fracture'],
       [24200, 72.77238723, 'F', 'no fracture'],
       [24208, 58.81240985, 'F', 'no fracture'],
       [17128, 65.13435742, 'M', 'no fracture'],
       [24180, 78.24717531, 'F', 'no fracture'],
       [17178, 63.02469707, 'M', 'no fracture'],
       [4205, 46.08154976, 'M', 'no fracture'],
       [342, 66.64486617, 'F', 'no fracture'],
       [22162, 74.17835572, 'M', 'no fracture'],
       [17104, 63.4419661, 'M', 'fracture'],
       [5523, 80.06020512, 'M', 'fracture'],
       [6973, 88.7537953, 'M', 'no fracture'],
       [23890, 60.55541712, 'F', 'no fracture'],
       [5298, 41.35119985, 'M', 'fracture'],
       [3047, 64.2131031, 'M', 'no fracture'],
       [469, 57.05276775, 'F', 'no fracture'],
       [22768, 69.08663791, 'M', 'no fracture'],
       [23843, 58.19132915, 'F', 'no fracture'],
       [134, 49.73132379, 'F', 'no fracture'],
       [165, 83.09364681, 'F', 'fracture'],
       [6981, 48.81687141, 'M', 'no fracture'],
       [5364, 45.86658172, 'M', 'no fracture'],
       [304, 54.40617797, 'F', 'no fracture'],
       [23828, 82.42315923, 'F', 'no fracture'],
       [690, 81.48136958, 'M', 'fracture'],
       [8854, 47.02465066, 'F', 'no fracture'],
       [5348, 80.77319346, 'M', 'fracture'],
       [23995, 69.97770123, 'F', 'fracture'],
       [302, 77.81962254, 'F', 'fracture'],
       [5320, 43.46317104, 'M', 'no fracture'],
       [8922, 73.97047074, 'F', 'no fracture'],
       [23904, 52.90099358, 'F', 'no fracture'],
       [24031, 72.27013664, 'F', 'fracture'],
       [5495, 35.81405763, 'M', 'no fracture'],
       [442, 88.02415052, 'M', 'fracture'],
       [23873, 56.93126646, 'F', 'no fracture'],
       [7192, 67.25216263, 'M', 'fracture'],
       [17086, 41.41761507, 'M', 'no fracture']], dtype=object)

In [ ]:
x_train.size

540

In [ ]:
y_train.size

135

In [ ]:
y_test.size
y_train

array([36, 32, 12,  3, 43, 32, 38,  1, 47, 21, 28, 41, 13, 39, 35, 31,  9,
       32, 40, 31, 12, 15, 40, 14, 10, 40, 15, 29, 10, 26, 16, 46, 33,  8,
       18, 16, 31,  8, 14,  6, 37, 22, 23, 14, 38, 11, 15, 17, 41, 32, 42,
       16, 29, 42, 38,  0, 35, 20, 11, 18, 10, 14, 33, 19, 44, 40, 15, 22,
       18, 14, 37, 22, 26,  2, 12, 27, 26, 35, 23, 32, 34, 27, 36, 13, 27,
       15, 26, 10,  4, 41, 29, 13, 29, 34, 45, 29, 36, 31, 43, 36, 27, 19,
       33, 35, 19, 19, 23, 21, 17, 38,  5, 48, 23, 39, 18, 34, 12, 51, 21,
       31, 36, 13,  7, 41, 46,  8, 11, 29, 20, 10, 41, 12, 19, 42, 26])

In [ ]:

from sklearn.linear_model import LogisticRegression

In [ ]:
logmodel=LogisticRegression()

In [ ]:
logmodel.fit(x_train,y_train)

ValueError: ignored

In [ ]:
y_pred=logmodel.predict(x_test)

NotFittedError: ignored

In [ ]:
y_pred

NameError: ignored